.board {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.author {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 92vw;
}

#profile-thumbnail {
    width: 100%;
}